*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 225px;;
    border-radius: 15px;
}

.team{
    margin: 25px;
    .team-flex{
        display: flex;
        justify-content: center;
        gap: 25px;
        flex-wrap: wrap;

        .team-item{
            max-width: 250px;
            background-color: #f9f9f9;
            padding: 10px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
            &:hover{
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
            }
            .team-content{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 3px;
            }
        }
    }
}

@media(max-width:768px){
    .team{
        .team-flex{
            display: flex;
            flex-direction: column;

            .team-item{
                max-width: 400px;
                img{
                    width: 300px;
                }
            }
        }
    }
}