*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 325px;;
    border-radius: 15px;
}

.team{
    margin: 25px;
    .team-flex{
        display: flex;
        justify-content: center;
        gap: 55px;
        flex-wrap: wrap;

        .team-item{
            background-color: #f9f9f9;
            padding: 10px 15px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
            border-radius: 15px;
            &:hover{
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
            }
            .team-content{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;

                .hidden{
                    display: none;
                }
            }

            .action-buttons{
                margin-top: 10px;
                display: flex;
                justify-content: center;
                gap: 15px;
                button{
                    background-color: #f9f9f9;
                    border:solid 2px #e3e5e7;
                    border-radius: 5px;
                    padding: 5px 15px 5px 15px;
                    font-size: 15px;
                    transition: background-color 0.2s ease;
                    &:hover{
                        background-color: #e7e7e7;
                    }
                }
            }
        }
    }
    .button-wrapper{
        margin-top: 150px;
        display: flex;
        justify-content: center;
        .add-card-btn{
            background-color:#007BFF ;
            color:#f9f9f9;
            border-radius: 6px;
            padding: 10px;
            transition: transform 0.2s ease, box-shadow 0.2s ease;
            &:hover{
                transform: scale(1.05);
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
            }
        }
    }
}

@media(max-width:768px){
    .team{
        .team-flex{
            display: flex;
            flex-direction: column;

            .team-item{
                max-width: 400px;
                img{
                    width: 300px;
                }
            }
        }
    }
}